<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers accessPolicy="Read, Script">
      <add name="mywordpress.com-php" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\Jcx.Software\VS.Php\2010\PHP 5.2\php-cgi.exe" resourceType="Unspecified" requireAccess="Script"/>
      <add name="mywordpress.com-php5" path="*.php5" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\Jcx.Software\VS.Php\2010\PHP 5.2\php-cgi.exe" resourceType="Unspecified" requireAccess="Script"/>
      <add name="mywordpress.com-phtml" path="*.phtml" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\Jcx.Software\VS.Php\2010\PHP 5.2\php-cgi.exe" resourceType="Unspecified" requireAccess="Script"/>
      <add name="mywordpress.com-inc" path="*.inc" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\Jcx.Software\VS.Php\2010\PHP 5.2\php-cgi.exe" resourceType="Unspecified" requireAccess="Script"/>
    </handlers>
    <rewrite>
      <rules>
			<rule name="wordpress" patternSyntax="Wildcard">
				<match url="*"/>
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
				<action type="Rewrite" url="index.php"/>
			</rule></rules>
    </rewrite>
  </system.webServer>
</configuration>
